h1 {
    color: crimson;
    text-align: center
}

h2 {
    color: purple;
    text-align: center;
}

h3 {
    color: salmon;
}

a {
    padding-right: 5px;
}

nav {
    text-align: center;
}

li {
    list-style-position: inside;
    text-align: center
}